







/*---------- Алейников -------------- */


.clearfix {
	clear: both;
}




.grey-long-wrapper {
	background: #f4f5f8;
	padding-top: 70px;
}

.short-white-wrapper {
	padding: 70px 0 70px 0 !important;
}

.for-speakers-title {
	
}

.conference-is-section {
	margin-bottom: 0;
}

.conference-is-title {
	
}

.for-speakers-title,
.conference-is-title,
.about-conference,
.video-title,
.conference-helpful h2,
.topics h2,
.photogallery  h2 {
	text-transform: none !important;
}

.for-speakers-main-image {
	float: right;
}

.for-speakers-speaker-btn {
	margin-top: 55px;
}

.for-speakers-main {
	height: 1000px;
}

.conference-is-img {
	float: left;
	width: 149px;
	margin: 0 auto;
}

.conference-is-info {
	float: right;
	width: 650px;
}

.for-speakers-reviews-box {
	padding: 60px 0 60px 0;
}

.for-speakers-video-block {
    background: no-repeat 50% 0 url("http://conference.advanta-group.ru/concrete/themes/elemental/img/video-image.jpg") !important;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 27rem;
    width: 43.2rem;
    cursor: pointer;
}

.for-speakers-video-block:hover::before {
    content: '';
    background: no-repeat url("http://conference.advanta-group.ru/concrete/themes/elemental/img/video-btns.png") !important;
    position: absolute;
    top: 30%;
    left: 50%;
    height: 7.3rem;
    width: 9.6rem;
    margin-left: -4.8rem;
}

.for-speakers-video-block::before {
    content: '';
    background: no-repeat url("http://conference.advanta-group.ru/concrete/themes/elemental/img/video-btns.png") !important;
    position: absolute;
    top: 30%;
    left: 50%;
    height: 7.3rem;
    width: 9.6rem;
    margin-left: -4.8rem;
}

.conference-helpful {
	background: #ebb046;
	padding: 65px 0 45px 0;
	margin-bottom: 50px;
}

.conference-helpful h2 {
	color: black;
}

.conference-helpful img {
	display: inline-block;
}

.conference-helpful ul {
	display: table;
}

.conference-helpful img {
	float: left;
	padding-right: 18px;
}

.conference-helpful ul,
.conference-helpful li {
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
}

.conference-helpful li {
	margin-bottom: 20px !important;
}

.topics {
	padding-top: 0 !important;
	margin-bottom: 0 !important;
}

.photogallery {
	margin-bottom: 65px;
}

.photogallery section {
	margin-bottom: 0;
}

.photogallery li {
	width: auto !important;
	padding: 0 !important;
}

.companies h2 {
	
}
/* ----------------------------- */